/* Change design numbers inside circle */
.list-pages li a,
.list-pages li.page-num-selected {
  background-color: #333; /* Change primary color of circle */
  color: #fff; /* Change font color inside circle */
  border-radius: 50%; /* Make circle */
  width: 32px; /* Set width and height to create a perfect circle */
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Change primary color of next and previous buttons */
.list-pages li.page-num a[href*="previous"]::before,
.list-pages li.page-num a[href*="next"]::before {
  border-left: solid 0.15em #333; /* Change color of arrow icon */
  border-top: solid 0.15em #333;
}

.list-pages li.page-num a:hover {
  background-color: #666; /* Change color on hover */
}

.list-pages li.page-num a[href*="previous"] {
  padding-left: 20px;
}

.list-pages li.page-num a[href*="next"] {
  padding-right: 20px;
}
